## Prétraitement des données
- Collectes des données
- Nettoyages des données
- Transformation des données
- Réduction de la dimensionnalité
- Normalisation et mise à échelle
- Séparation des données : 
      - Données Entrainement
      - Données Validation
      - Données Test

## Installation de Pandas

In [ ]:
# pip install pandas

### Importation des bibliothèques

In [ ]:
import pandas as pd
import numpy as np

### Création d'une série Pandas avec un index par défaut

In [ ]:
produits = ['A', 'B', 'C', 'D']

In [ ]:
type(produits)

In [ ]:
series_produits = pd.Series(produits)

In [ ]:
type(series_produits)

In [ ]:
series_produits

In [ ]:
nums = [1, 2, 3, 4, 5]
s_nums = pd.Series(nums)

In [ ]:
print(s_nums)

### Création d'une série Pandas avec un index personnalisé

In [ ]:
nums = [1, 2, 3, 4, 5]
index = [1, 2, 3, 4, 5]
s_nums = pd.Series(nums, index=index)

In [ ]:
print(s_nums)

In [ ]:
fruits = ['Orange', 'Banane', 'Mangue']
fruits = pd.Series(fruits, index=[1, 2, 3])

In [ ]:
print(fruits)

### Création d'une série Pandas à partir d'un dictionnaire

In [ ]:
personne = {
    'nom': 'Effi',
    'prenom': 'Jean Mermoz',
    'pays': 'Côte d\'ivoire',
    'ville': 'Abidjan'
}

In [ ]:
print(personne['ville']), personne['prenom']

In [ ]:
series_personne = pd.Series(personne)

In [ ]:
print(series_personne)

In [ ]:
color=["pink", "white", "black", "blue"]
S1=pd.Series([20, 15, 6, 43], index=color)
S2=pd.Series([3, 22, 9, 10], index=color)

In [ ]:
print(S1-S2)

## DataFrame

### Création de DataFrames à partir d'une liste de listes

In [ ]:
# individu1 = ['David', 'UK', 'London']
# individu2 = ['Sangare', 'CI', 'Abidjan']
# individu3 = ['Moussa', 'Mali', 'Bamako']

In [ ]:
data = [
    ['David', 'UK', 'London'],
    ['Sangare', 'CI', 'Abidjan'],
    ['Moussa', 'Mali', 'Bamako']
]

In [ ]:
data

In [ ]:
df_test2 = pd.DataFrame(data)

In [ ]:
df_test2

### Création d'un DataFrame à l'aide d'un dictionnaire

In [ ]:
data = {
    'Name': ['Asabeneh', 'David', 'John'], 
    'Country':['Finland', 'UK', 'Sweden'], 
    'City': ['Helsiki', 'London', 'Stockholm'],
    'Distance': [3098, 45, 175 ]
}

In [ ]:
df = pd.DataFrame(data)

In [ ]:
print(df)

### Création de DataFrames à partir d'une liste de dictionnaires

In [ ]:
data = [
    {
        'Name': 'Asabeneh', 
        'Country': 'Finland', 
        'City': 'Helsinki'
    },
    {
        'Name': 'David', 
        'Country': 'UK', 
        'City': 'London'
    },
    {
        'Name': 'John', 
        'Country': 'Sweden', 
        'City': 'Stockholm'
        #'Genre': 'M'
    },
]

In [ ]:
df = pd.DataFrame(data, index=['A', 'B', 'C'])

In [ ]:
print(df)

## Lecture d'un fichier CSV à l'aide de Pandas

In [ ]:
## Télécharger le fichier CSV
# !curl -O https://raw.githubusercontent.com/Asabeneh/30-Days-Of-Python/master/data/weight-height.csv

In [ ]:
# pd.read_csv?

In [ ]:
df = pd.read_csv('weight-height.csv')

In [ ]:
df

### Exploration des données

In [ ]:
type(df)

In [ ]:
df

In [ ]:
df.shape ## Taille, Forme Dimentionnelle

#### Lisons uniquement les 5 premières lignes en utilisant head()

In [ ]:
df.head()

In [ ]:
df.head(10)

#### Explorons également les derniers enregistrements de la dataframe en utilisant les méthodes tail().

In [ ]:
df.tail()

In [ ]:
df.tail(10)

Obtenons toutes les colonnes en utilisant des colonnes.

In [ ]:
print(df.columns)

Maintenant, obtenons une colonne spécifique en utilisant la clé de colonne

In [ ]:
df['Gender']

In [ ]:
heights = df['Height']
heights

In [ ]:
weights = df['Weight']
weights

In [ ]:
len(heights)

In [ ]:
print(len(heights) == len(weights))

La méthode describe() fournit des valeurs statistiques descriptives d’un ensemble de données.

In [ ]:
type(heights)

In [ ]:
heights.describe()

In [ ]:
weights.describe()

In [ ]:
df.describe()

In [ ]:
df.info()

###

In [ ]:
data = [
    {
        'Name': 'Asabeneh', 
        'Country': 'Finland', 
        'City': 'Helsinki'
    },
    {
        'Name': 'David', 
        'Country': 'UK', 
        'City': 'London'
    },
    {
        'Name': 'John', 
        'Country': 'Sweden', 
        'City': 'Stockholm'
    },
]

In [ ]:
df = pd.DataFrame(data)

In [ ]:
df.head()

### Ajout d'une nouvelle colonne
- Ajoutons une colonne de poids dans le DataFrame
- Ajoutons une colonne de ages dans le DataFrame

In [ ]:
# Ajoutons une colonne de poids dans le DataFrame
weigths = [74, 78, 69]
df['Weights'] = weigths

In [ ]:
df.head()

In [ ]:
heights = [173, 175, 169]
df['Heights'] = heights

df.head()

In [ ]:
ages = [25, 37, 45]
df['Ages'] = ages

In [ ]:
df.head()

### Autres techniques

In [ ]:
## .assign()
fonctions = ['Data Scientist', 'Data Engineer', 'Data Manager Quality']
df = df.assign(Fonction=fonctions)

In [ ]:
df.head()

In [ ]:
## Avec la méthode .insert()
df.insert(2, 'Salaire', [4000, 5500, 6500])

In [ ]:
df.head()

In [ ]:
## .loc
df.loc[:, 'Genre'] = ['M', 'F', 'M']

In [ ]:
df.head()

### Modification des valeurs des colonnes

In [ ]:
df['Heights'] = df['Heights'] * 0.01
df.head()

In [ ]:
data_test = {
    "Nom": ['Alice', 'Bob', 'Sangare'],
    "Age": [25, 30, 35]
}

df_test = pd.DataFrame(data_test)
df_test.head()

In [ ]:
df_test.loc[:, ['poids', 'taille']] = 45

In [ ]:
df_test.head()

In [ ]:
df_test.loc[0, ['Nom', 'Age']] = ['Fanta', 55]

In [ ]:
df_test.head()

In [ ]:
df_test.iloc[0, [0, 1]] = ['Alice', 25]

In [ ]:
df_test.head()

In [ ]:
df_test.loc[0:1, ['Nom', 'Age']] = [['Fanta', 55], ['Franck', 65]]

In [ ]:
df_test.head()

In [ ]:
df_test.iloc[0:2, [0, 1]] = [['Alicia', 26], ['Robert', 31]]

In [ ]:
df_test.head()

In [ ]:
df.head()

In [ ]:
def calul_imc():
    weights = df['Weights']
    heights = df['Heights']
    imc_list = []
    
    for w, h in zip(weights, heights):
        imc = w/(h*h)
        imc_list.append(imc)

    return imc_list

In [ ]:
imc_result = calul_imc()

In [ ]:
imc_result

In [ ]:
df['IMC'] = imc_result
df.head()

### Formatage des colonnes DataFrame

In [ ]:
## IMC deux chiffres
df['IMC'] = round(df['IMC'], 2)
df.head()

In [ ]:
## Fonction en Majuscule
## Upper()

df['Fonction'] = df['Fonction'].str.upper()

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
text =  'Bonjour'
text.upper()

### Vérification des types de données des valeurs de colonne

In [ ]:
print(df.Genre.dtype)

In [ ]:
print(df['Salaire'].dtype)

In [ ]:
df.info()

In [ ]:
birth_year = ['1998', '1985', '1990']
current_year = pd.Series(2024, index=[0, 1, 2])

df['Date Naissance'] = birth_year
df['Annee Actuelle'] = current_year

df.head()

In [ ]:
df.info()

In [ ]:
df['Date Naissance'] = df['Date Naissance'].astype('int')
print(df['Date Naissance'].dtype)

In [ ]:
df.info()

In [ ]:
df['Name'] = df['Name'].astype(str)
print(df['Name'].dtype)

In [ ]:
df['Name'].str.upper()

In [ ]:
from datetime import datetime

In [ ]:
today = datetime.today()
today = today.strftime('%d-%m-%Y')


current_day = current_year = pd.Series(today, index=[0, 1, 2]) 
df['Date'] = current_day

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
for col in df.select_dtypes(include='object').columns:
    df[col] = df[col].str.upper()

df.head()

In [ ]:
df['Ages'] = df['Annee Actuelle'] - df['Date Naissance']
df.head()

### Indexation Booléenne

In [ ]:
df[df['Salaire'] > 5000]

In [ ]:
df[df['Genre'] == 'M']

In [ ]:
df[df['Genre'] == 'm']

In [ ]:
## python lamgage de typege

### Technique loc vs iloc

Les méthodes loc et iloc de Pandas sont utilisées pour sélectionner des données dans un DataFrame en fonction des étiquettes et des positions respectivement.

### .loc

In [ ]:
df.head()

In [ ]:
# [l , c]

In [ ]:
# Sélectionner une seule ligne
df.loc[0]

In [ ]:
# Sélectionner une seule colonne
df.loc[:, 'Fonction']

In [ ]:
df.loc[0:1, ['Name', 'Salaire', 'Fonction']]

### Filtrage conditionnel

In [ ]:
df.info()

In [ ]:
# & = and , | = or

In [ ]:
df.loc[((df['IMC'] > 23) | (df['Genre'] == 'M')) & (df['Salaire'] > 5000)]

In [ ]:
df.loc[(df['IMC'] > 23) | (df['Genre'] == 'M') & (df['Salaire'] > 5000)]

### .iloc

In [ ]:
# Sélectionner une seule ligne
df.iloc[0]

In [ ]:
# Sélectionner une seule colonne
df.iloc[:, 0]

In [ ]:
df.iloc[0:2, 3:8]

In [ ]:
df.columns

In [ ]:
columns = ['Salaire', 'City', 'Weights', 'Heights', 'Ages',
       'Fonction', 'Genre', 'IMC', 'Date Naissance']

In [ ]:
df_lei = df.iloc[:, 1:8]
df_lei.head()