In [ ]:
!pip install Faker

## Importation des bibliotheque

In [23]:
import pandas as pd
from faker import Faker
import random

## Géneration des donées avec Faker

In [24]:
departments_functions = {
    'IT': [
        'Développeur logiciel',
        'Administrateur système',
        'Ingénieur réseau',
        'Spécialiste en cybersécurité',
        'Analyste en support technique',
        'Architecte cloud',
        'Ingénieur DevOps',
        'Chef de projet IT',
        'Analyste de données',
        'Spécialiste en bases de données'
    ],
    'Engineering': [
        'Ingénieur en génie civil',
        'Ingénieur en mécanique',
        'Ingénieur en électricité',
        'Ingénieur en électronique',
        'Ingénieur en aéronautique',
        'Ingénieur en environnement',
        'Ingénieur chimiste',
        'Ingénieur industriel',
        'Ingénieur en robotique',
        'Ingénieur en matériaux'
    ],
    'Finance': [
        'Analyste financier',
        'Comptable',
        'Contrôleur de gestion',
        'Auditeur financier',
        'Trésorier',
        'Conseiller en investissements',
        'Responsable des risques financiers',
        'Analyste de crédit',
        'Gestionnaire de portefeuille',
        'Chef de projet finance'
    ],
    'HR': [
        'Responsable RH',
        'Chargé de recrutement',
        'Responsable formation',
        'Gestionnaire de paie',
        'Responsable des relations sociales',
        'HR Business Partner',
        'Consultant en gestion des talents',
        'Responsable de la diversité et de l\'inclusion',
        'Conseiller en relations de travail',
        'Spécialiste en développement organisationnel'
    ],
    'Marketing': [
        'Responsable marketing',
        'Chef de produit',
        'Analyste marketing',
        'Spécialiste en marketing digital',
        'Community manager',
        'Responsable de la communication',
        'Spécialiste en relations publiques',
        'Directeur de la marque',
        'Responsable SEO/SEM',
        'Consultant en stratégie marketing'
    ]
}

villes_cote_divoire = [
    'Abidjan',
    'Yamoussoukro',
    'Bouaké',
    'Daloa',
    'San Pedro',
    'Korhogo',
    'Man',
    'Divo',
    'Gagnoa',
    'Abengourou',
    'Agboville',
    'Bondoukou',
    'Odienné',
    'Sassandra',
    'Séguéla'
]

In [25]:
departments_functions['IT']

['Développeur logiciel',
 'Administrateur système',
 'Ingénieur réseau',
 'Spécialiste en cybersécurité',
 'Analyste en support technique',
 'Architecte cloud',
 'Ingénieur DevOps',
 'Chef de projet IT',
 'Analyste de données',
 'Spécialiste en bases de données']

In [26]:
# Initialisez Faker pour générer des données synthétiques
fake = Faker('fr_FR')

# Définir la graine seed() pour la reproductibilité
Faker.seed(42)

# Générer des données synthétiques
data = []
for _ in range(5000):
    employe = {
        'Age': random.randint(18, 70),
        'Email': fake.email(),
        'Phone': fake.phone_number(),
        'Address': fake.address(),
        'Salary': random.randint(20000, 150000),
        'Join_Date': fake.date_this_decade(),
        'Employment_Status': random.choice(['Full-Time', 'Part-Time', 'CDD', 'CDI']),
        'Gender': random.choice(['M', 'F']),
        'Department': random.choice(['IT', 'Engineering','Finance', 'HR', 'Marketing']),
        'Ville': random.choice(villes_cote_divoire)
    }
    djob_tilte = departments_functions[employe['Department']]
    employe['Djob_tilte'] = random.choice(djob_tilte),

    if employe['Gender'] == 'M':
        employe['Fist Name'] = fake.first_name_male()
        employe['Last Name'] = fake.last_name_male()
    else:
        employe['Fist Name'] = fake.last_name_female()
        employe['Last Name'] = fake.last_name_female()
    
    data.append(employe)

In [27]:
len(data)

5000

In [28]:
data[0]

{'Age': 61,
 'Email': 'laurentnicole@example.com',
 'Phone': '+33 3 68 21 81 96',
 'Address': 'rue Rey\n64716 Saint Michelle',
 'Salary': 120433,
 'Join_Date': datetime.date(2023, 7, 27),
 'Employment_Status': 'Full-Time',
 'Gender': 'M',
 'Department': 'IT',
 'Ville': 'Korhogo',
 'Djob_tilte': ('Spécialiste en bases de données',),
 'Fist Name': 'Frédéric',
 'Last Name': 'Pons'}

In [29]:
len(data[0])

13

In [30]:
# Modifions un peu les enregistrements !
# Introduire les valeurs manquantes
for i in random.sample(range(len(data)), 50):
    data[i]['Email'] = None

# Introduire des enregistrements en double
data.extend(random.sample(data, 100))

# Introduire des valeurs aberrantes
for i in random.sample(range(len(data)), 20):
    data[i]['Salary'] = random.randint(200000, 500000)

In [31]:
# Créer une trame de données
df = pd.DataFrame(data)

In [32]:
df.head(10)

,Age,Email,Phone,Address,Salary,Join_Date,Employment_Status,Gender,Department,Ville,Djob_tilte,Fist Name,Last Name
0,61,laurentnicole@example.com,+33 3 68 21 81 96,rue Rey\n64716 Saint Michelle,120433,2023-07-27,Full-Time,M,IT,Korhogo,"(Spécialiste en bases de données,)",Frédéric,Pons
1,67,suzanne02@example.net,04 83 42 35 11,chemin Josette Aubry\n06847 RegnierBourg,51051,2023-03-22,Part-Time,M,IT,San Pedro,"(Analyste de données,)",Augustin,Courtois
2,36,veronique95@example.net,+33 2 18 03 41 31,"35, chemin Marc Leconte\n34818 Saint Élisabeth...",56039,2021-05-22,CDD,M,IT,Séguéla,"(Analyste en support technique,)",Nicolas,Gillet
3,36,lucie83@example.net,0179305641,"83, avenue Guy Aubry\n18352 Tanguy-la-Forêt",116674,2023-08-24,CDD,F,Marketing,Korhogo,"(Directeur de la marque,)",Guillon,Alexandre
4,40,matthieu28@example.com,+33 (0)1 75 12 26 91,"578, rue de Bazin\n92217 Hamel-la-Forêt",65448,2022-11-22,CDD,M,HR,Odienné,"(Responsable de la diversité et de l'inclusion,)",Bertrand,Cousin
5,40,dbarbier@example.org,0327814893,"98, boulevard Breton\n62119 Sainte Véronique-l...",137948,2022-01-13,CDI,M,Finance,Agboville,"(Trésorier,)",Antoine,Guillot
6,20,clementnath@example.com,+33 (0)2 54 27 82 48,"734, chemin de Navarro\n66562 Saint MauriceBourg",25476,2022-11-16,CDD,F,HR,Agboville,"(Responsable RH,)",Lefebvre,Pruvost
7,63,jacquelinevasseur@example.org,+33 (0)1 81 31 05 18,"93, boulevard Verdier\n60348 Cordier-sur-Mer",108097,2020-10-20,Full-Time,M,IT,San Pedro,"(Analyste de données,)",Benoît,Delmas
8,19,bmonnier@example.com,01 78 10 65 13,"772, chemin Pinto\n31995 Sainte SusanBourg",89373,2020-06-06,Part-Time,M,Finance,Séguéla,"(Chef de projet finance,)",Victor,Gimenez
9,57,morinodette@example.org,+33 5 54 77 36 02,chemin Sabine De Sousa\n36533 Peltierdan,125842,2021-04-25,CDI,F,Engineering,Man,"(Ingénieur en matériaux,)",Aubert,Collet

In [33]:
df.shape

(5100, 13)

In [ ]:
df.to_csv('fiche_employes.csv', index=False)

## Étape 1 : Comprendre les données

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5100 entries, 0 to 5099
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Age                5100 non-null   int64
 1   Email              5049 non-null   object
 2   Phone              5100 non-null   object
 3   Address            5100 non-null   object
 4   Salary             5100 non-null   int64
 5   Join_Date          5100 non-null   object
 6   Employment_Status  5100 non-null   object
 7   Gender             5100 non-null   object
 8   Department         5100 non-null   object
 9   Ville              5100 non-null   object
 10  Djob_tilte         5100 non-null   object
 11  First Name         5100 non-null   object
 12  Last Name          5100 non-null   object
dtypes: int64(2), object(11)
memory usage: 518.1+ KB

## Étape 2 : Gérer les doublons

## Étape 3 : Gestion des données manquantes

## Étape 4 : Transformer les données

## Étape 5 : Nettoyage des données texte

## Étape 6 : Gestion des valeurs aberrantes

## Étape 7 : Fusionner les données