In [ ]:
!pip install Faker

In [ ]:
!pip install handcalcs

In [ ]:
!pip install forallpeople

## Importation des bibliotheque

In [ ]:
import pandas as pd
import numpy as np
from faker import Faker
import random

import handcalcs.render
import sympy as sp
from handcalcs.decorator import handcalc

from math import sqrt, sin, pi, asin

## Géneration des donées avec Faker

In [ ]:
departments_functions = {
    'IT': [
        'Développeur logiciel',
        'Administrateur système',
        'Ingénieur réseau',
        'Spécialiste en cybersécurité',
        'Analyste en support technique',
        'Architecte cloud',
        'Ingénieur DevOps',
        'Chef de projet IT',
        'Analyste de données',
        'Spécialiste en bases de données'
    ],
    'Engineering': [
        'Ingénieur en génie civil',
        'Ingénieur en mécanique',
        'Ingénieur en électricité',
        'Ingénieur en électronique',
        'Ingénieur en aéronautique',
        'Ingénieur en environnement',
        'Ingénieur chimiste',
        'Ingénieur industriel',
        'Ingénieur en robotique',
        'Ingénieur en matériaux'
    ],
    'Finance': [
        'Analyste financier',
        'Comptable',
        'Contrôleur de gestion',
        'Auditeur financier',
        'Trésorier',
        'Conseiller en investissements',
        'Responsable des risques financiers',
        'Analyste de crédit',
        'Gestionnaire de portefeuille',
        'Chef de projet finance'
    ],
    'HR': [
        'Responsable RH',
        'Chargé de recrutement',
        'Responsable formation',
        'Gestionnaire de paie',
        'Responsable des relations sociales',
        'HR Business Partner',
        'Consultant en gestion des talents',
        'Responsable de la diversité et de l\'inclusion',
        'Conseiller en relations de travail',
        'Spécialiste en développement organisationnel'
    ],
    'Marketing': [
        'Responsable marketing',
        'Chef de produit',
        'Analyste marketing',
        'Spécialiste en marketing digital',
        'Community manager',
        'Responsable de la communication',
        'Spécialiste en relations publiques',
        'Directeur de la marque',
        'Responsable SEO/SEM',
        'Consultant en stratégie marketing'
    ]
}

villes_cote_divoire = [
    'Abidjan',
    'Yamoussoukro',
    'Bouaké',
    'Daloa',
    'San Pedro',
    'Korhogo',
    'Man',
    'Divo',
    'Gagnoa',
    'Abengourou',
    'Agboville',
    'Bondoukou',
    'Odienné',
    'Sassandra',
    'Séguéla'
]

In [ ]:
departments_functions['IT']

In [ ]:
# Initialisez Faker pour générer des données synthétiques
fake = Faker('fr_FR')

# Définir la graine seed() pour la reproductibilité
Faker.seed(42)

# Générer des données synthétiques
data = []
for _ in range(5000):
    employe = {
        'Age': random.randint(18, 70),
        'Email': fake.email(),
        'Phone': fake.phone_number(),
        'Address': fake.address(),
        'Salary': random.randint(20000, 150000),
        'Join_Date': fake.date_this_decade(),
        'Employment_Status': random.choice(['Full-Time', 'Part-Time', 'CDD', 'CDI']),
        'Gender': random.choice(['M', 'F']),
        'Department': random.choice(['IT', 'Engineering','Finance', 'HR', 'Marketing']),
        'Ville': random.choice(villes_cote_divoire)
    }
    djob_tilte = departments_functions[employe['Department']]
    employe['Djob_tilte'] = random.choice(djob_tilte),

    if employe['Gender'] == 'M':
        employe['Fist Name'] = fake.first_name_male()
        employe['Last Name'] = fake.last_name_male()
    else:
        employe['Fist Name'] = fake.last_name_female()
        employe['Last Name'] = fake.last_name_female()
    
    data.append(employe)

In [ ]:
data[0]

In [ ]:
len(data[0])

In [ ]:
# Modifions un peu les enregistrements !
# Introduire les valeurs manquantes
for i in random.sample(range(len(data)), 50):
    data[i]['Email'] = None

# Introduire des enregistrements en double
data.extend(random.sample(data, 100))

# Introduire des valeurs aberrantes
for i in random.sample(range(len(data)), 20):
    data[i]['Salary'] = random.randint(200000, 500000)

In [ ]:
# Créer une trame de données
df = pd.DataFrame(data)

In [ ]:
df.head(5)

In [ ]:
df.shape

In [ ]:
df.to_csv('fiche_employes.csv', index=False)

## Chargement des données

In [ ]:
data_path = '../../DataSets/fiche_employes.csv'

In [ ]:
df_raw = pd.read_csv(data_path)

In [ ]:
df = df_raw.copy()

In [ ]:
df.head()

In [ ]:
df.shape

## Étape 1 : Comprendre les données

In [ ]:
df.info()

## Étape 2 : Gérer les doublons

In [ ]:
# Vérifier les lignes en double
duplicates = df.duplicated().sum()
print(f"nombre de lignes en doublons: {duplicates}")

In [ ]:
df_duplicates_rows = df[df.duplicated()]
df_duplicates_rows.head()

In [ ]:
df_duplicates_rows.shape

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df.shape

## Étape 3 : Gestion des données manquantes

In [ ]:
# Rechercher les valeurs manquantes
missing_values = df.isna().sum()
print(f"Nombre de valeurs null/NA :\n {missing_values}")

In [ ]:
df.columns

In [ ]:
# Gestion des valeurs manquantes en remplissant avec un espace réservé
df[['Last Name', 'Fist Name']]

In [ ]:
df['Email'].fillna(df['Last Name'].str.lower() + df['Fist Name'].str.lower() + '@gomycode.ci', inplace=True)

In [ ]:
df.isna().sum()

In [ ]:
df[df['Email'] == '@gomycode.ci']

In [ ]:
# Methode str.endswith()

df[df['Email'].str.endswith('@gomycode.ci')]

## Étape 4 : Transformer les données

In [ ]:
# Convertir 'Join_Date' en datetime
df['Join_Date'].head()

In [ ]:
df['Join_Date'] = pd.to_datetime(df['Join_Date'])
print("Join_Date après la conversion :")
df['Join_Date'].head()

In [ ]:
print(pd.Timestamp.now().year)

In [ ]:
df['Join_Date'].dt.year

In [ ]:
# Création d'une nouvelle colonne 'Years_Employed' basée sur 'Join_Date'
df['Years_Employed'] = pd.Timestamp.now().year - df['Join_Date'].dt.year

In [ ]:
df[['Join_Date', 'Years_Employed']].head()

In [ ]:
df.head()

## Étape 5 : Nettoyage des données texte

In [ ]:
df['Address'].str.replace('\n', ' ')

In [ ]:
# Nettoyer les chaînes de la colonne adress
df['Address'] = df['Address'].str.replace('\n', ' ')

In [ ]:
df['Address'].head()

In [ ]:
df['Djob_tilte'].head()

In [ ]:
df['Djob_tilte'].str.strip("(),'")

In [ ]:
df['Djob_tilte'].str.extract(r"\('([^']+)'")

In [ ]:
# Nettoyer les chaînes de la colonne Djob_tilte
df['Djob_tilte'] = df['Djob_tilte'].str.strip("(),'")

In [ ]:
df['Djob_tilte'].head()

In [ ]:
df.head()

## Étape 6 : Gestion des valeurs aberrantes

In [ ]:
from sympy import symbols

In [ ]:
%%render
#Symbolic
# Le z-score d'une valeur x est calculé par la formule suivante :

z = (x - mu) / sigma # Le z-score d'une valeur x est calculé par la formule suivante

#### où :

- x est la valeur de la donnée,
- μ est la moyenne de l'ensemble de données,
- σ est l'écart-type de l'ensemble de données

#### Interprétation du z-score
- Un z-score proche de 0 signifie que la donnée est proche de la moyenne.
- Un z-score supérieur à 3 ou inférieur à -3 est souvent considéré comme une valeur aberrante car cela signifie que la donnée est à plus de trois écart-types de la moyenne.

#### Étapes
- Calculer la moyenne et l'écart-type du jeu de données.
- Calculer le z-score pour chaque valeur du jeu de données.
- Identifier les valeurs aberrantes : Les valeurs avec un z-score supérieur à un certain seuil (généralement 3 ou -3).
- Gérer les valeurs aberrantes : En fonction du contexte, les valeurs aberrantes peuvent être supprimées, corrigées, ou traitées d'une manière spécifique.

In [ ]:
df['Salary']

In [ ]:
(df['Salary'] - df['Salary'].mean()) / df['Salary'].std()

In [ ]:
# Détection des valeurs aberrantes à l'aide du z-score
z_scores = (df['Salary'] - df['Salary'].mean()) / df['Salary'].std()

In [ ]:
z_scores

In [ ]:
len(z_scores)

In [ ]:
df['Z_Score'] = (df['Salary'] - df['Salary'].mean()) / df['Salary'].std()

In [ ]:
df.head()

In [ ]:
df['Is_Outlier'] = np.abs(df['Z_Score'] > 3)

In [ ]:
df.head()

In [ ]:
df[df['Is_Outlier'] == True]

#### Détection des valeurs aberrantes

In [ ]:
df_aberantes = df[abs(z_scores) > 3]

In [ ]:
df_aberantes.shape

In [ ]:
df_aberantes['Salary'].head(20)

In [ ]:
df_aberantes['Salary'].min()

In [ ]:
df['Salary'][35]

In [ ]:
df['Salary'].mean()

In [ ]:
df.loc[~df['Is_Outlier'], 'Salary'].mean()

In [ ]:
# Calculer la moyenne des valeurs non aberrantes
mean_non_outliers = df.loc[~df['Is_Outlier'], 'Salary'].mean()

In [ ]:
print(mean_non_outlier)

In [ ]:
df.loc[df['Is_Outlier'], 'Salary'] = mean_non_outliers

In [ ]:
df.head()

In [ ]:
df = df.drop(columns=['Z_Score', 'Is_Outlier'])

In [ ]:
df.head()

In [ ]:
df[df['Salary'] == mean_non_outlier]

In [ ]:
df['Salary'] = df['Salary'].astype(int)

In [ ]:
df['Salary']

In [ ]:
df.to_csv('/Users/jeanmermozeffi/Documents/GOMYCODE/GoMyCodeLearning/DataSets/cleaned_fiche_employes.csv', index=False)

## Étape 7 : Fusionner les données