### Impression sur console en python print() :

In [12]:
print("Bonjour python")
print("Ceci est un code dans un fichier notebooks")

Bonjour python
Ceci est un code dans un fichier notebooks

In [13]:
print('Bonjour python')

Bonjour python

In [14]:
print("hello world!")
print("hello world!")
print("hello world!")

hello world!
hello world!
hello world!

## \n = retour de ligne

In [17]:
print("hello world! \nhello world! \nhello world! \ndeuxieme")

hello world!
hello world!
hello world!
deuxieme

In [19]:
print("hello world! hello world! hello world!")

hello world! hello world! hello world!

'' vs " "

In [23]:
print('Il fait très chaud aujourd'hui !')

SyntaxError: unterminated string literal (detected at line 1) (3062831977.py, line 1)

In [24]:
# Correction
print('Il fait très chaud aujourd\'hui !') # Utilisation de '\'

Il fait très chaud aujourd'hui !

In [27]:
# Correction
print("Il fait très chaud aujourd'hui !") # Utilisation de double quotes

Il fait très chaud aujourd'hui !

## concatenation

In [30]:
print("Hello" + "Gomycode")

HelloGomycode

In [31]:
print("Hello" + " " + "Gomycode") "hjdfjd " + ""

Hello Gomycode

# La fonction Python input()

In [32]:
input()

 bonjour

'bonjour'

In [33]:
input("Veuillez entrer nom d'utilisateur:\n")
input("Veuillez entrer votre mot de passe:\n")

Veuillez entrer nom d'utilisateur:
 cobelechat
Veuillez entrer votre mot de passe:
 cobelechat

'cobelechat'

In [34]:
print("Hello\n"+ input("What’s your name"))

What’s your name EFFI

Hello
EFFI

### Impression sur console en python

In [45]:
print("Day 1 - String Manipulation")
print("String Concatenation is done with the" + " + sign.")
print('e.g. print("Hello " + "world")')
print("New lines can be created with a backslash and n.")

Day 1 - String Manipulation
String Concatenation is done with the + sign.
e.g. print("Hello " + "world")
New lines can be created with a backslash and n.

In [49]:
# Je suis un commenataire  en une ligne
print("Bonjour ")
print("Bonjour ")
print("Bonjour ")

Bonjour
Bonjour
Bonjour

In [51]:
"""
Je suis un commenataire  en multiple ligne
blabal
bvjgshjrwj
bsjrbejkhrf
sdnvbfrj
"""
print("Bonjour ")
print("Bonjour ")
print("Bonjour ")

Bonjour
Bonjour
Bonjour

In [ ]:
intruction 1
intruction 2

In [ ]:
# PHP
if (condition){
    je suis le code à executer !
}

In [ ]:
if (condition):
    je suis le code à executer !
je suis seul

### If , else condition :

In [ ]:
# Syntax de If
if (condition):
    "l'instruction à executer !"

In [65]:
age = 20

if age > 18:
    print("Vous avez", age, ",donc vous avez un pass à la Salle ciné !!")

Vous avez 20 ,donc vous avez un pass à la Salle ciné !!

In [ ]:
# Syntax de If, else
if (condition):
    "l'instruction à executer du if!"
else:
    "l'instruction à executer du else!"

In [66]:
age = 16

if age > 18:
    print("Vous avez", age," : pass à la Salle ciné !!")
else:
    print("Désolé, vous n'avez pas l'age requis!!")

Désolé, vous n'avez pas l'age requis!!

In [68]:
age = int(input("Entrer votre âge"))

if age > 18:
    print("Vous avez", age,": pass à la Salle ciné !!")
else:
    print("Désolé, vous n'avez pas l'age requis!!")

Entrer votre âge 13

Désolé, vous n'avez pas l'age requis!!

In [ ]:
# Le Classement scolaire a 3 notions de mérites : Passage, Assez-bien, Bien, Très-bien
# Passage >= 10, Assez-bien>=14, Bien >= 15, Très-bien >=17

### Testé si les déclarations et les déclarations elif :

In [77]:
# == vs ===

x = 1
sexe = 'F'

if x==1:
      print('X is equal to 1')
elif x==5:
      print('X is equal to 5')
elif x==10:
      print('X is equal to 10')
else: 
      print('X =', x)

X is equal to 1

### Opérateur logique

# or, and, not

In [79]:
order_total = 150
customer_membership = True

if order_total >= 100 and customer_membership == True:
    print("Discount applied 50%.")
else:
    print("Discount not applied.")

Discount applied 50%.

In [85]:
order_total = 75
customer_location = "USA"

if order_total >= 50 or customer_location == "USA":
    print("Free shipping applied 40%.")
else:
    print("Shipping fee applied 60%.")

Free shipping applied 40%.

In [91]:
order_total = 75
customer_location = "USA"

if order_total >= 50 and not customer_location:
    print("Free shipping applied 40%.")
else:
    print("Shipping fee applied 60%.")

Shipping fee applied 60%.

In [96]:
country = 'CI'

if not country:
    print("Ivoirien")
else:
    print("Ivoirien")

Ivoirien

In [40]:
is_member = True

if not is_member:
    print("Customer is not a member.")
else:
    print("Customer is a member.")

Customer is a member.

In [41]:
print(not(True))

False

##  Opérations mathématiques usuelles:

In [1]:
#Exponents **
print(2**2)

4

In [2]:
# Multiplication *
print(2*2)

4

In [3]:
# Division /
print(6/3)

2.0

In [4]:
# Addition
print(8+8)

16

In [5]:
# Soustraction
print(6+4)

10

In [6]:
# quotient de la division euclidienne: //
print(27//4)

6

In [7]:
print(6*4)

24

In [8]:
# Reste de la division euclidienne %
print(27%4)

3

## Manipulation de nombres

In [9]:
print(8/3)

2.6666666666666665

In [10]:
print(round(8/3))

3

In [ ]:
# syntaxe : round(nombre[, ndigits])

In [20]:
pi = 3.14159
print(round(pi))

3

In [ ]:
# 3.14

In [21]:
print(round(pi, 2))

3.14

In [28]:
result = 4/2 
result /=2
print(result)

1.0

In [26]:
4/2

2.0

In [35]:
result = 2 
result = result / 2
result

1.0

##  Mathematical functions

In [4]:
from math import *

In [5]:
pi

3.141592653589793

In [6]:
import math

In [7]:
math.pi

3.141592653589793

In [8]:
from math import sqrt, pi

In [9]:
pi

3.141592653589793

In [10]:
print(sqrt(25))

5.0

#### math.floor()   vs  math.ceil()

In [37]:
x = 3.4
print(math.floor(x))
print(math.ceil(x))

3
4

#### Formatage de chaîne de caractère :

In [38]:
pi = 3.14159
print("%.2f" % pi)

3.14

In [39]:
print(math.pi)

3.141592653589793

## Manipulation de cordes

In [44]:
score = 15 
print("Votre score est de :", score)

Votre score est de : 15

In [48]:
print("Your score is " + str(score))

Your score is 15

In [43]:
## Avec F strings
print(f"Votre score est de : {score}")

Votre score est de : 15

### Déclarations python

In [49]:
a = 1 + 2 + 3 
a

6

In [50]:
a = 1 + 2 + 3 + \
    4 + 5 + 6 + \
    7 + 8 + 9
a

45

In [51]:
a = (1 + 2 + 3 +
    4 + 5 + 6 +
    7 + 8 + 9)
a

45

In [1]:
colors = ['red', 'blue', 'green']
colors

['red', 'blue', 'green']

In [54]:
colors = ['red',
          'blue',
          'green']
colors

['red', 'blue', 'green']

In [55]:
a = 1; b = 2; c = 3
a, b, c

(1, 2, 3)

In [57]:
a,  b = 1, 3

In [58]:
a, b

(1, 3)

## Indentation en Python

In [62]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

## Variables Python

#### Les variables sont des noms symboliques qui sont utilisés pour stocker des données en mémoire.

In [11]:
# 1- Déclaration et affectation
# 2- Nommage des variables
# 3- Types de données dynamiques
# 4- Réulitisation des variables
# 5- Portée des variables

In [ ]:
string nom = 'Koffi' ==> Java

#### # 1- Déclaration et affectation

In [13]:
x = 5 # Cree une variable et lui assigne la valeur 5

#####  2- Nommage des variables

In [ ]:
# age =
# nom_utilisateur

In [14]:
x + 1

6

In [15]:
age = 15 
if age > 18 :
    y = 10

In [16]:
y + 25

NameError: name 'y' is not defined

In [19]:
def get_age():
    a_age = 35
    print(a_age)

In [20]:
a_age + 1

NameError: name 'a_age' is not defined

In [23]:
get_age()

35

In [24]:
x = 10  #assign 10 to x
print(x)  #it returns 10

10

In [25]:
type(x)

int

In [26]:
x = "welcome to python world"  # assigning a new variable to website
print(x)    #it returns welcome to python world"

welcome to python world

In [27]:
type(x)

str

In [28]:
y = 12

In [29]:
a , b, c, = 10, 25, "Hello World"

In [30]:
a , b, c

(10, 25, 'Hello World')

In [31]:
print(a , b, c)

10 25 Hello World

In [33]:
x = y = z = 0

print (x)
print (y)
print (z)

0
0
0

In [34]:
print(type(x))

<class 'int'>

In [35]:
type(x)

int

#### Opérateurs Arithmétiques Python

In [42]:
x = 8
y = 3

In [45]:
print(x/y)

2.6666666666666665

In [46]:
print(x%y) # Quotient

2

In [47]:
print(x//y) # Reste

2

In [48]:
print(x*y)

24

In [49]:
print(x**y)

512

In [50]:
x == y

False

In [51]:
x != y

True

In [52]:
x > y

True

In [53]:
x in y

TypeError: argument of type 'int' is not iterable

In [54]:
my_string = "Welcome to python"
print(my_string)

Welcome to python

In [55]:
my_string[0]

'W'

In [57]:
my_string[6]

'e'

In [58]:
my_string[-1]

'n'

In [61]:
my_string[:7]

'Welcome'

In [ ]:
True = 1
False = 0

In [62]:
print(True)

True

In [63]:
# list
my_list = [1, 2, 3, 4]

In [64]:
x = 6

In [65]:
x in my_list

False

In [1]:
lst = list()

In [2]:
type(lst)

list

In [3]:
fruits = ['banana', 'orange', 'mango', 'lemon']                     # liste de fruits
vegetables = ['Tomato', 'Potato', 'Cabbage','Onion', 'Carrot']      # liste de vegetables
animal_products = ['milk', 'meat', 'butter', 'yoghurt']             # liste de animal products
web_techs = ['HTML', 'CSS', 'JS', 'React','Redux', 'Node', 'MongDB'] # liste de web technologies
countries = ['Finland', 'Estonia', 'Denmark', 'Sweden', 'Norway']

In [4]:
fruits

['banana', 'orange', 'mango', 'lemon']

In [5]:
len(fruits)

4

In [6]:
fruits[1] ## L'indexation positive

'orange'

In [7]:
fruits[-3] ## L'indexation négative

'orange'

In [8]:
all_fruits = fruits[0:4]
all_fruits

['banana', 'orange', 'mango', 'lemon']

In [10]:
fruits[-1]

'lemon'

In [11]:
fruits.append('apple')

In [13]:
fruits

['banana', 'orange', 'mango', 'lemon', 'apple']

In [15]:
fruits.insert(2, 'lime')

In [16]:
fruits

['banana', 'orange', 'lime', 'mango', 'lemon', 'apple']

In [ ]:
remove != pop != del

In [17]:
fruits.clear()

In [18]:
fruits

[]

#### tuple

In [ ]:
# Immuable vs mutable
empty_tuple = ()
empty_tuple = tuple()

In [ ]:
# Fonction tuple
- tuple()
- count()
- index()

In [20]:
fruits = ('banana', 'orange', 'mango', 'lemon', 'apple')

In [21]:
type(fruits)

tuple

#### Set

In [ ]:
st = set()

In [47]:
fruits = {'banana', 'orange', 'mango', 'lemon', 'apple', 'banana'}

In [48]:
fruits

{'apple', 'banana', 'lemon', 'mango', 'orange'}

In [46]:
type(fruits)

set

In [49]:
fruits = {'banana', 'orange', 'mango', 'lemon'}

In [52]:
vegetables = ('tomato', 'potato', 'cabbage','onion', 'carrot' ,'banana')
fruits.update(vegetables)

In [53]:
fruits

{'banana',
 'cabbage',
 'carrot',
 'lemon',
 'mango',
 'onion',
 'orange',
 'potato',
 'tomato'}

#### dict

In [14]:
person = {
    'first_name':'Asabeneh',
    'last_name':'Yetayeh',
    'age':25,
    'country':'Côte d\'Ivoire',
    'is_marred':True,
    'skills':['JavaScript', 'React', 'Node', 'MongoDB', 'Python'],
    'address':{
        'street':'Space street',
        'zipcode':'02210'
    }
}

In [24]:
type(person)

dict

In [18]:
cle = person.keys()
print(cle)

dict_keys(['first_name', 'last_name', 'age', 'country', 'is_marred', 'skills', 'address'])

In [20]:
cles = []
for key in person.keys():     # Loop Through dictionary keys
    cles.append(key)

cles

['first_name', 'last_name', 'age', 'country', 'is_marred', 'skills', 'address']

In [27]:
print(len(person))

7

In [28]:
person['first_name']

'Asabeneh'

In [29]:
# Ajout d'élément
person['job_tilte'] = 'Instructor'

In [30]:
person

{'first_name': 'Asabeneh',
 'last_name': 'Yetayeh',
 'age': 25,
 'country': "Côte d'Ivoire",
 'is_marred': True,
 'skills': ['JavaScript', 'React', 'Node', 'MongoDB', 'Python'],
 'address': {'street': 'Space street', 'zipcode': '02210'},
 'job_tilte': 'Instructor'}

In [31]:
person['skills'].append('Html/CSS')

In [32]:
person['skills']

['JavaScript', 'React', 'Node', 'MongoDB', 'Python', 'Html/CSS']

In [33]:
person['first_name'] = 'Fofona'

In [34]:
person['first_name']

'Fofona'

In [35]:
person

{'first_name': 'Fofona',
 'last_name': 'Yetayeh',
 'age': 25,
 'country': "Côte d'Ivoire",
 'is_marred': True,
 'skills': ['JavaScript', 'React', 'Node', 'MongoDB', 'Python', 'Html/CSS'],
 'address': {'street': 'Space street', 'zipcode': '02210'},
 'job_tilte': 'Instructor'}

In [36]:
person['salary']

KeyError: 'salary'

In [39]:
'salary' not in  person

True

In [43]:
if 'salary' not in person:
    person['salary'] = 650000
print(person)

{'first_name': 'Fofona', 'last_name': 'Yetayeh', 'age': 25, 'country': "Côte d'Ivoire", 'is_marred': True, 'skills': ['JavaScript', 'React', 'Node', 'MongoDB', 'Python', 'Html/CSS'], 'address': {'street': 'Space street', 'zipcode': '02210'}, 'job_tilte': 'Instructor', 'salary': 650000}

In [44]:
print(person.items())

dict_items([('first_name', 'Fofona'), ('last_name', 'Yetayeh'), ('age', 25), ('country', "Côte d'Ivoire"), ('is_marred', True), ('skills', ['JavaScript', 'React', 'Node', 'MongoDB', 'Python', 'Html/CSS']), ('address', {'street': 'Space street', 'zipcode': '02210'}), ('job_tilte', 'Instructor'), ('salary', 650000)])

#### Type Conversion

In [54]:
moyenne = 17.5

In [56]:
print(int(moyenne))

17

### Exerxice 1 : mathématiques

In [57]:
age_actuel = int(input("Entrez votre âge actuel : "))

# Calcul du nombre d'années restantes jusqu'à 90 ans
annees_restantes = 90 - age_actuel

# Calcul du nombre de jours, semaines et mois restants
jours_restants = annees_restantes * 365
semaines_restantes = annees_restantes * 52
mois_restants = annees_restantes * 12

# Affichage du message de sortie
message = f"Il vous reste {jours_restants} jours, {semaines_restantes} semaines et {mois_restants} mois."
print(message)

Entrez votre âge actuel :  25

Il vous reste 23725 jours, 3380 semaines et 780 mois.

#### Exercice 2: String

In [1]:
var = "Bonjour"

In [2]:
var[0]

'B'

### Exercice 3 : mathématique

#### Méthode 1

In [6]:
## Programme simple
two_digit_number = input('Entrez un nombre :')

chiffre_1 = int(two_digit_number[0])
chiffre_2 = int(two_digit_number[1])
somme = chiffre_1 + chiffre_2

message = f"La somme de  {chiffre_1} + {chiffre_2} =  {somme}"
print(message)

Entrez un nombre : AB

ValueError: invalid literal for int() with base 10: 'A'

In [15]:
## Programme avec controle avec 'isdigit()'

two_digit_number = input('Entrez un nombre :')

# Vérification si l'entrée de l'utilisateur est un nombre
if two_digit_number.isdigit():
    if len(two_digit_number) == 2:
        chiffre_1 = int(two_digit_number[0])
        chiffre_2 = int(two_digit_number[1])
        somme = chiffre_1 + chiffre_2
        message = f"la somme de  {chiffre_1} + {chiffre_2} =  {somme}"
        print(message)
    else:
        print("Erreur : Veuillez entrer un nombre à deux chiffres.")
else:
    print(f"Erreur: Veuillez entrer uniquement des chiffres. !!!")

Entrez un nombre : 45

<class 'str'>
la somme de  4 + 5 =  9

#### Méthode 2

In [9]:
two_digit_number = int(input("Entrez un nombre à deux chiffres : "))

# Extraction des chiffres individuels
chiffre_un = two_digit_number // 10  # Le chiffre des dizaines
chiffre_deux = two_digit_number % 10  # Le chiffre des unités

somme = chiffre_un + chiffre_deux
print(f"{chiffre_un} + {chiffre_deux} = {somme}")

Entrez un nombre à deux chiffres :  64

6 + 4 = 10

In [8]:
test = 64
print(test//10)
print(test%10)

6
4

In [13]:
## Programme avec controle avec 'isdigit()'

two_digit_number = input("Entrez un nombre à deux chiffres : ")

# Vérification si l'entrée de l'utilisateur est un nombre
if two_digit_number.isdigit():
    if 10 <= two_digit_number <= 99:
        two_digit_number = int(two_digit_number)
        # Extraction des chiffres individuels
        chiffre_un = two_digit_number // 10  # Le chiffre des dizaines
        chiffre_deux = two_digit_number % 10  # Le chiffre des unités
        somme = chiffre_un + chiffre_deux
        print(f"{chiffre_un} + {chiffre_deux} = {somme}")
    else:
        print("Erreur : Veuillez entrer un nombre à deux chiffres.")
else:
    print(f"Erreur: Veuillez entrer uniquement des chiffres. !!!")

Entrez un nombre à deux chiffres :  ab

Erreur: Veuillez entrer uniquement des chiffres. !!!

In [22]:
import random

In [24]:
Random_integer = random.randint(1,10)
print(Random_integer)

4

## Les Boucles
#### - while
#### - for

### Bouble While
Nous utilisons le mot réservé while pour créer une boucle while. Il est utilisé pour exécuter un bloc d'instructions à plusieurs reprises jusqu'à ce qu'une condition donnée soit satisfaite. Lorsque la condition devient fausse, les lignes de code après la boucle continueront à être exécutées.

In [ ]:
# syntaxe 
while condition:
    mettre ici, les instructions.

#### Exemple

In [32]:
count = 0 
while count < 5:
    print(count)
    count = count + 1

0
1
2
3
4

In [28]:
count > 5

False

In [35]:
count = 0 
while count < 5:
    print(count)
    count = count + 1
else:
    print(count)

0
1
2
3
4
5

#### Break(pause) et continue(continue)

##### Break(pause)

In [36]:
count = 0 
while count < 5:
    print(count)
    count = count + 1
    if count == 3:
        break

0
1
2

#### continue(continue)

In [37]:
count = 0 
while count < 5:
    if count == 3:
        count = count + 1
        continue
    print(count)
    count = count + 1

0
1
2
4