## Les fonctions

#### Notion de fonction

In [2]:
liste1 = [1,2,3]
length = 0 
for i in liste1 :
    length +=1
    
print(length)

3

In [3]:
skills = ['JavaScript', 'React', 'Node', 'MongoDB', 'Python']
length = 0 
for skill in skills :
    length +=1
    
print(length)

5

In [4]:
# fonctions intégées
print(len(liste1))
print(len(skills))

3
5

#### Déclarer et appeler une fonction

In [ ]:
# syntax
# Declaring a function
def function_name():
    codes
    codes

# Calling a function
function_name()

In [5]:
def get_hello():
    print("Hello World, this is my first function")

In [6]:
get_hello()

Hello World, this is my first function

### Fonction sans paramètres

In [7]:
# Exemple 
def generate_full_name():
    first_name = 'EFFI'
    last_name = 'Jean Mermoz'
    space = ' '
    full_name = first_name + space + last_name
    print(full_name)

generate_full_name()

EFFI Jean Mermoz

In [8]:
def add_two_numbers():
    num_one = 3
    num_two = 7
    total = num_one + num_two
    print(total)

add_two_numbers()

10

### Fonction renvoyant une valeur - Partie 1

In [9]:
# Exemple 
def generate_full_name():
    first_name = 'EFFI'
    last_name = 'Jean Mermoz'
    space = ' '
    full_name = first_name + space + last_name

    return full_name

In [11]:
print(generate_full_name())

EFFI Jean Mermoz

In [12]:
full_name = generate_full_name()
print(full_name)

EFFI Jean Mermoz

### Fonction avec paramètres

##### Paramètre unique

In [ ]:
# syntax
# Declaring a function
def function_name(paramater):
    codes
    codes

# Calling a function
function_name(argument)

In [2]:
def greeting(name):
    message = f"{name}, Soyez le bienvenu dans ce cours de Python"
    return message

In [3]:
name = 'EFFI Jean Mermoz'
print(greeting('Serge'))

Serge, Soyez le bienvenu dans ce cours de Python

In [19]:
def square_number(x):
    return x * x

print(square_number(5))

25

In [20]:
def area_of_circle(r):
    PI = 3.14
    area = PI * r ** 2

    return area

In [21]:
area = area_of_circle(4)
print(area)

50.24

In [22]:
area = area_of_circle(10)
print(area)

314.0

In [28]:
def sum_of_numbers(n):
    total = 0
    for i in range(n+1):
        total+=i
    print(total)

In [29]:
sum_of_numbers(10)

55

##### Deux paramètres

In [ ]:
# syntax
# Declaring a function
def function_name(para1, para2):
    codes
    codes

# Calling a function
function_name(arg1, arg2)

In [30]:
# Exemple 
def generate_full_name(first_name, last_name):
    space = ' '
    full_name = first_name + space + last_name

    return full_name

In [31]:
print(generate_full_name('EFFI', 'Jean Mermoz'))

EFFI Jean Mermoz

In [32]:
def calutate_age(current_year, birth_year):
    age = current_year - birth_year
    return age

In [34]:
print('Vôtre âge est :', calutate_age(2024, 1819), 'ans')

Vôtre âge est : 205 ans

### Passer des arguments avec clé et valeur

In [ ]:
# syntax
# Declaring a function
def function_name(para1, para2):
    codes
    codes

# Calling a function
function_name(para1=arg1, para2=arg2)

In [36]:
print(generate_full_name('Jean Mermoz', 'EFFI'))

Jean Mermoz EFFI

In [35]:
print(generate_full_name(last_name='Jean Mermoz', first_name='EFFI'))

EFFI Jean Mermoz

#### Renvoyer un booléen

In [4]:
def is_even(n):
    if n % 2 == 0:
        return True
    return False

In [5]:
is_even(10)

True

In [39]:
is_even(11)

False

In [40]:
is_even(33)

False

#### Fonction avec paramètres par défaut

In [ ]:
# syntax
# Declaring a function
def function_name(para1=valeur1, para2=valeur2):
    codes
    codes

# Calling a function
function_name()
function_name(para1=arg1, para2=arg2)

In [43]:
# Exemple 
def generate_full_name(first_name='Asabeneth', last_name='Le Chat', space = ' '):
    full_name = first_name + space + last_name

    return full_name

In [44]:
generate_full_name()

'Asabeneth Le Chat'

In [48]:
# Exemple 
def generate_full_name(first_name, last_name, space = ' '):
    full_name = first_name + space + last_name

    return full_name

In [49]:
print(generate_full_name(last_name='Jean Mermoz', first_name='EFFI'))

EFFI Jean Mermoz

#### Nombre arbitraire d'arguments

In [ ]:
# syntax
# Declaring a function
def function_name(*args):
    codes
    codes

# Calling a function
function_name(para1, para2, para2...)

In [6]:
# Exemple
def sum_all_nums(*nums):
    total = 0
    for num in nums:
        total+=num
    return total

In [8]:
result = sum_all_nums(2, 3, 5, 15)
print(result)

25

In [58]:
result = sum_all_nums(150, 25, 34)
print(result)

209

In [9]:
def generate_groups(team, *args):
    print(team.upper())
    count = 0
    for name in args:
        count+=1
        print(f"{count}: {name}")

In [10]:
generate_groups('DataLove', 'Lea Fofana', 'Searge Pacôme', 'Sangare')

DATALOVE
1: Lea Fofana
2: Searge Pacôme
3: Sangare

#### Fonction comme paramètre d'une autre fonction

In [61]:
def square_number(n):
    return n * n

def fait_quelque_chose(f, x):
    return f(x)

In [62]:
fait_quelque_chose(square_number, 3)

9

In [12]:
def erreur(n, team='DataLove'):
    pass

### Exercice 1
Ecrire un programme qui permet de saisir le nom, le prix et la quantité des articles qui constitue une facture.
(Le nombre d’article est fixé à 2).
Le programme doit calculer le totale de la facture. N’oublier pas d’ajouter la TVA pour chaque article (20%) (MontantTTC=MontantHT + Montant HT*0.2). 
Votre programme doit afficher le montant totale de chaque article ainsi que le totale.

In [20]:
# Definition des variables
nbr_articles = 2

def get_info_article():
    articles = []
    quantites = []
    prix_all = []
    
    for i in range(1, nbr_articles+1):
        nom_article = input(f"Donner le nom l'article n {i} : ")
        articles.append(nom_article.upper())
        quantite = int(input(f"Donner la quantité de l'article n {i} :"))
        quantites.append(quantite)
        prix = float(input(f"Donner le prix de l'article n {i} :"))
        prix_all.append(prix)

    return articles, quantites, prix_all

def get_montant_ht(quantite, prix):
    montant_ht = quantite * prix
    return montant_ht

def get_montant_ttc(montant_ht, tva = 0.2):
    montant_ttc = montant_ht + montant_ht * tva
    return montant_ttc

def main():
    # Definition des variables
    total_facture = 0
    # Saisie des données
    articles, quantites, prix_all = get_info_article()
    for i in range(nbr_articles):
        prix = prix_all[i]
        quantite = quantites[i]
        montant_ht = get_montant_ht(prix, quantite)
        print(f"Total de l'article {articles[i]} : {montant_ht}$ (HT)")
        montant_ttc = get_montant_ttc(montant_ht)
        print(f"Total de l'article {articles[i]} : {montant_ttc}$ (TTC)")

        total_facture += montant_ttc
    print("*" * 60)
    print(f"Le montant total de la facture est : {total_facture}$ (TTC)")

In [21]:
main()

Donner le nom l'article n 1 :  pc
Donner la quantité de l'article n 1 : 3
Donner le prix de l'article n 1 : 7000
Donner le nom l'article n 2 :  iphone pro max
Donner la quantité de l'article n 2 : 2
Donner le prix de l'article n 2 : 2500

Total de l'article PC : 21000.0$ (HT)
Total de l'article PC : 25200.0$ (TTC)
Total de l'article IPHONE PRO MAX : 5000.0$ (HT)
Total de l'article IPHONE PRO MAX : 6000.0$ (TTC)
****************************************
Le montant total de la facture est : 31200.0$ (TTC)

### Fonction Equation Quadratique

In [1]:
import math

def equation_quadratique(a, b, c):
    discriminant = b**2 - 4*a*c

    # Cas où le discriminant est négatif, pas de solution réelles 
    if discriminant < 0:
        return "Pas de solution réelles."

    if discriminant == 0:
        pass
    else: 
        pass

### Fonction Lambda

In [2]:
## Syntaxe :
lambda arguments: expression

- *lambda* est un mot-clé utilisé pour définir une fonction lambda.
- *arguments* est une liste d'arguments séparés par des virgules, similaires aux arguments d'une fonction normale.
- *expression* est une expression unique qui est évaluée et renvoyée lorsque la fonction lambda est appelée.

In [3]:
# Exemple
addition = lambda x, y: x + y

In [5]:
addition(5, 6)

11

#### *map()*, *filter()*, *reduce()*

In [6]:
liste = [1, 2, 3, 4, 5]

double = map(lambda x: x * 2, liste)

In [9]:
resultat = list(double)
print(resultat)

[2, 4, 6, 8, 10]

In [14]:
# Exerice
personnes = [
    ("Alice", 30),
    ("Bob", 25),
    ("Serge", 35),
    ("David", 20)
]

personnes_triees = sorted(personnes, key=lambda x: x[1], reverse=False)

for personne in personnes_triees:
    print(personne)

('David', 20)
('Bob', 25)
('Alice', 30)
('Serge', 35)

In [ ]:
0101011